* {
    padding: 0;
    margin: 0;
    list-style: none;
    border: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}
body{
    background-color:#fff;
}

.movie-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
}